/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

/* Root Variables */
:root {
  --header-height: 3rem;
  --nav-width: 72px;
  --first-color: #6EACDA;
  --first-color-light: #03346E;
  --white-color: #F7F6FB;
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

/* Global Styles */
*
::before,
::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}

a {
    text-decoration: none !important;
}

/* Header Styles */
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: #ffffff;
  z-index: var(--z-fixed);
  transition: .5s;
}

.header_toggle {
  color: var(--first-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.header_img {
    width: 5px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 90%;
    overflow: hidden;
    background-color: #cccccc00; /* Memberikan warna latar belakang jika gambar tidak terisi */
    flex-shrink: 0; /* Mencegah elemen menyusut jika ada elemen lain di sekitarnya */
}

.header_img img {
    width: 100%;
    height: auto; /* Pertahankan rasio aspek gambar */
    object-fit: cover;
    display: block;
    margin-left: 14px;
}


/* Sidebar Styles */
.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem;
}
.nav_logo {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav_logo-img {
    width: 40px; /* Sesuaikan ukuran gambar sesuai kebutuhan */
    height: 40px; /* Pastikan rasio gambar tetap terjaga */
    margin-right: 0.7rem; /* Jarak antara gambar dan teks */
    border-radius: 20px;
}

.nav_logo-name {
    font-weight: 800;
    text-decoration: none;
    color: #03346E;
    margin-left: 15px;
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: .3s;
}

.nav_link:hover {
  color: var(--white-color);
}

.nav_icon {
  font-size: 1.25rem;
}


.show {
  left: 0;
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem);
}

.active {
  color: var(--white-color);
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* Responsive Styles */
@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem);
  }

  .header_img {
    width: 40px;
    height: 40px;
  }

  .header_img img {
    width: 45px;
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  .show {
    width: calc(var(--nav-width) + 156px);
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 188px);
  }
}

  .padding {
    padding: 3rem !important;
  }

  .user-card-full {
    overflow: hidden;
    max-height: 450px; /* Set maximum height for the card */

  }

  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.417);
    border: none;
    margin-bottom: 30px;

  }

  .user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
  }

  .bg-c-lite-green {
    background: linear-gradient(to right, #03346E, #6EACDA);
  }

  .user-profile {
    padding: 20px 0;
  }

  .card-block {
    padding: 1.25rem;
  }

  .img-radius {
    border-radius: 50%; /* Set profile image to be circular */
    width: 100px; /* Set width for profile image */
    height: 100px; /* Set height for profile image */
    display: flex; /* Center the icon */
    align-items: center;
    justify-content: center;
    background-color: #fff; /* Background color */
    font-size: 50px; /* Icon size */
    color: #000; /* Icon color */
    margin-left: 10px;
  }

  h6 {
    font-size: 14px;
  }

  .text-muted {
    color: #919aa3 !important;
  }

  .f-w-600 {
    font-weight: 600;
    margin-top: 10%;
  }

  .m-b-20 {
    margin-bottom: 16px;
    font-size: 300%;
    margin-top: -2%;
  }
  .m-b-25 {
    margin-left: 40px;
  }
  .m-t-40 {
    margin-top: 20px;
  }

  .p-b-5 {
    padding-bottom: 5px !important;
  }

  .m-b-10 {
    margin-bottom: 10px;
  }

  .social-link li {
    display: inline-block;
  }

  .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
 